* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    transform: translateX(450px) translateY(80px);
}

.bg-circle {
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 4px 3px 3px 3px rgb(33, 32, 32);
    height: 600px;
    width: 600px;
}

.small-circle {
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 2px 4px 3px 3px #eee;
    height: 320px;
    transform: translateX(140px) translateY(130px);
    width: 320px;
}

.triangle {
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
    border-bottom: 190px solid blue;
    height: 0;
    transform: translateX(25px) translateY(40px);
    width: 0;
    }
}