@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}

.question-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submit {
    background-color: lightgreen;
    border: none;
    font-size: 0.8em;
    font-weight: 600;
    padding: 2px;
}

.bg-circle {
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 4px 3px 3px 3px rgb(33, 32, 32);
    height: 600px;
    width: 620px;
}

.small-circle {
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 2px 4px 3px 3px #eee;
    height: 320px;
    text-align: center;
    transform: translateX(140px) translateY(130px);
    width: 320px;
}

.triangle {
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
    border-bottom: 190px solid blue;
    height: 0;
    transform: translateX(25px) translateY(40px);
    width: 0;
}

p {
    color: white;
    transform: translateX(-60px) translateY(110px);
    width: 120px;
}